h1 {
    text-align: center;
}

.fullBlock{
    text-align: center;
}


.row1 {
   
    
}

.row2 {
   
}

.row3 {
   
}

#block1{
    width: 150px;
    height: 150px;
}

#block2{
    width: 150px;
    height: 150px;
}

#block3{
    width: 150px;
    height: 150px;
}

#block4{
    width: 150px;
    height: 150px;
}

#block5{
    width: 150px;
    height: 150px;
}

#block6{
    width: 150px;
    height: 150px;
}

#block7{
    width: 150px;
    height: 150px;
}

#block8{
    width: 150px;
    height: 150px;
}

#block9{
    width: 150px;
    height: 150px;
}