h1{
  text-align:center;
}


.main-nav{
  text-align:center;
  list-style:none;

}

.main-nav li{
  display:inline-block;
  margin: 65px;
}

.main-nav li a:link,
.main-nav li a:visited{
  color:#808080;
  text-decoration:none;
  text-transform: uppercase;
  font-size:90%;
  border-bottom:1px solid transparent;
  transition:border-bottom 0.8s;
}

.main-nav li a:hover,
.main-nav li a:active{
  border-bottom:1px solid #808080;
}

a{
  text-decoration: none;
}



elements{
  padding:25px;
}

input{
  padding: 25px;
  text-align:center;

}

form{
  text-align:center;
  padding: 40px;
}

.signup-form{
  text-align"center;
  width:250px;
  height:80px;
}
