#OutputScreen {
   width: 500px;
   height: 150px;
   margin: 0 auto;
   margin-left: 400px;
   margin-right: 400px;
   font-size:128px;
    
}

#button1 {
    width: 185px;
    height: 150px;
}

#button2 {
    width: 185px;
    height: 150px;
}

#button3 {
    width: 185px;
    height: 150px;
}

#button4 {
    width: 185px;
    height: 150px;
}

#button5 {
    width: 185px;
    height: 150px;
}

#button6 {
    width: 185px;
    height: 150px;

}

#button7 {
    width: 185px;
    height: 150px;
}

#button8 {
    width: 185px;
    height: 150px;
}

#button9 {
    width: 185px;
    height: 150px;
}

#button10 {
    width: 185px;
    height: 150px;
}

#button11 {
    width: 185px;
    height: 150px;
}

#button12 {
    width: 185px;
    height: 150px;
}

#button13 {
    width: 185px;
    height: 150px;
}

#button14 {
    width: 185px;
    height: 150px;
}

#button15 {
    width: 185px;
    height: 150px;
}

#button16 {
    width: 185px;
    height: 150px;
}

#button17 {
    width: 185px;
    height: 150px;
}

#button18 {
    width: 185px;
    height: 150px;
}

#button19 {
    width: 563px;
    height: 150px;
    
}

